mixin img(data, noSrcset = false)

  - data.path = data.type === "svg" && !data.path ? "svg" : data.path
  - const { path = "content", name, type, width, height, alt = "" } = data

  if type === "svg"
    img(src=`img/${path}/${name}.${type}`, width= width, height= height, alt= alt)&attributes(attributes)
  else
    img(
      src=`img/${path}/${name}.${type}`,
      srcset= noSrcset ? false : `img/${path}/${name}@2x.${type}`, width= width, height= height, alt= alt
    )&attributes(attributes)
